<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class home</title>
</head>
<body>

{% for experiment in experiments %}
    <div>
        Timestamp: {{ experiment[4] }}
        <br/>
        Content: {{ experiment[1] }}
        <br/>
        Replies: {{ experiment[2] }}
        <br/>
    </div>
    <br/>
{% endfor %}

<br/>

Create a new questionnaire:

<form action="/class/{{ teacher_id }}/{{ class_id }}" method="post">
    <label> Question 1
        <input placeholder="Question text" name="q1">
    </label>

    <label> Min answers:
        <input type="number" name="min1" placeholder="min">
    </label>

    <label> Max answers:
        <input type="number" name="max1" placeholder="max">
    </label>

    <br/>

    <label> Question 2
        <input placeholder="Question text" name="q2">
    </label>

    <label> Min answers:
        <input type="number" name="min2" placeholder="min">
    </label>

    <label> Max answers:
        <input type="number" name="max2" placeholder="max">
    </label>

    <br/>

    <input type="submit" value="Submit">
</form>

<br/>

Students:
<br/> <br/>
{% for student in students %}

    {{ student[1] }} <br/>

{% endfor %}

<br/>

<a href="/teacher/{{ teacher_id }}">Back</a>



</body>
</html>