<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher home</title>
</head>
<body>

{% for class in classes %}
    <div> {{ class[1] + ': ' + class[3] }} <a href="/class/{{ teacher_id }}/{{ class[0] }}">Go there</a> </div>
{% endfor %}

<br/>

<form action="/teacher/{{ teacher_id }}" method="post">
    <label> Class name:
        <input placeholder="Class Name" name="name">
    </label>
    <br/>
    <label> Description:
        <input placeholder="Description" name="desc">
    </label>
    <br/>
    <input type="submit" value="Submit">
</form>

<br/>

<a href="/"> Back </a>


</body>
</html>